__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
.git
.ipynb_checkpoints
*~
.*~
baby-python
addthem.c
addthem.o
libaddthem*.so
million_integers.int32
quadratic_formula_pybind11.cpp
quadratic_formula_pybind11.so
